<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<title>Flaskit</title>

</head>

<body>
<div class="container">
<div class="row">
  <div class="col-lg-3"><img src={{url_for(logo)}}></div>
  <div class="col-lg-9"> <h1>This is your homepage!</h1></div>
  
</div>
<div class="row">
  <div class="col-lg-12">
<nav class="navbar navbar-light bg-light">
    <ul class="nav navbar-nav">
      <li class="nav-item">Front Page</li>
      <li class="nav-item">Popular</li>
      <li class="nav-item">All</li>
      <li class="nav-item">Lorem</li>
      <li class="nav-item">Ipsum</li>
    </ul>
</nav>
</div>
</div>
<div class="row"> 
  <div class="col-lg-1">UPVOTES</div>
  <div class="col-lg-1">IMG</div>
  <div class="col-lg-10">DESCRIPTION</div>
</div>
<div class="row"> 
    <div class="col-lg-1">UPVOTES</div>
    <div class="col-lg-1">IMG</div>
    <div class="col-lg-10">DESCRIPTION</div>
  </div>
  <div class="row"> 
      <div class="col-lg-1">UPVOTES</div>
      <div class="col-lg-1">IMG</div>
      <div class="col-lg-10">DESCRIPTION</div>
    </div>
    <div class="row"> 
        <div class="col-lg-1">UPVOTES</div>
        <div class="col-lg-1">IMG</div>
        <div class="col-lg-10">DESCRIPTION</div>
      </div>
      <div class="row"> 
          <div class="col-lg-1">UPVOTES</div>
          <div class="col-lg-1">IMG</div>
          <div class="col-lg-10">DESCRIPTION</div>
        </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
