<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/stlyes.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<title>Instaslam</title>

</head>

<body>
<div class="container">
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-3"><a href={{url_for('index')}}><img src={{url_for('static', filename="logo1.png")}}></a></div>
  <div class="col-lg-5"></div>
</div>
<div class="row">
 <div class="col-lg-6"><a href={{url_for('signup')}} class="btn btn-primary" id="signup">Sign up!</a></div>
  <div class="col-lg-6"><a href={{url_for('login')}} class="btn btn-primary" id="login">Login!</a></div>
</div>


</div></div></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
