<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>Profile Instaslam</title>

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src={{ url_for('static', filename='logo1.png')}}>
      </div>
      <div class="col-lg-6">
            <a href={{url_for('profile')}}>profile pic here</a>
          </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h1>This is your profile!</h1>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        
      </div>
    </div>
    <div class="row">
    </div>
  </div>
  <footer>
        
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href={{url_for('homepage')}}>Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{url_for('upload')}}>Upload</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href={{url_for('profile')}}>profile</a>
                </li>
          </ul>
    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>