<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>Upload Instaslam</title>

</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-lg-3"><a href={{url_for('index')}}><img src={{url_for('static', filename="logo1.png")}}></a></div>
      </div>
      <div class="col-lg-6">
            <a href={{url_for('profile')}}>profile pic here</a>
          </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <h1> Upload photos here!</h1>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-light bg-light">


        </nav>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <form method='POST' action='/homepage/' class="group-form">
                <label>Image titles</label>
                <input type="text" name="imgtitle" id="imgtitle" class="form-control" aria-describedby="imgtitle" placeholder="Image title">
                
            </div>
            <div class="col-lg-4">
                    <form method=post enctype=multipart/form-data>
                            <div class="form-group">
                              <label for="imgTitle">Image Upload</label>
                              <input type="file" class="form-control-file" id="imgTitle">
                            </div>
                          
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-4"><br></div>
            <div class="col-lg-4"><button  type="submit" class="btn btn-primary" id="upload">Upload</button></div></form>
    </div>
    <div class="row">
      
    <nav class="navbar navbar-inverse">
        <div class="container">
          
          
            <ul class="nav navbar-nav">
              <li class="nav-item">
              
                <a class="nav-link" href={{url_for('homepage')}}>Homepage</a>
              </li>
              <li class="nav-item  active">
                <a href={{url_for('upload')}}>Upload<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a href={{url_for('notifications')}}>Notifications<span class="badge">4</span></a>
                </li>
              <li class="nav-item">
                <a href={{url_for('profile')}}>profile</a>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <footer></footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>